*, *::before, *::after {
	box-sizing: inherit;
}

html{
box-sizing: border-box;
overflow: scroll;
}

body{
    display: flex;
    justify-content: center;
}
.barlimit {
    max-width: 1000px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background-color: white;
    padding: 0px !important;
    margin-bottom: 10px !important;
    position: fixed !important;
    height: 50px!important
  }
.navbar-brand {
    font-size: xx-large;
}   

  .btn:focus {
    outline: none !important;
  }
#parent{
    position: absolute;
    margin:0px;
    padding: 0px;
    border: none;
    width: 100%;
    height: 100%;
    max-width: 800px;
    top: -30px;
}


#back_button{
    position: absolute;
    width: 47px;
    height: 42px;
    left: 0px;
    top: 52px;
    z-index:3;
}
#arrow{
    position: absolute;
    width:100%;
}

/* #arrow_button{
    width:100%;
    height: 100%;
    z-index: 4;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
} */

/* button{
    position: absolute;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    width: 90%;
    height: 90%;
} */
#title_box{
    position: relative;
    width: 100%;
    height: 56px;
    left: 0px;
    top: 46px;

    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    }

#title{
    position: absolute;
    width: 100%;
    height: 46px;
    /*left: 109px;*/
    top: 46px;

    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 56px;
    text-align: center;

    color: #000000;
    z-index:2;
}

.rectangle{
    position: relative;
    width: 100%;
    height: 38px;
    left: 0px;
    background: #E5E5E5;
    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
}

.containers{
    position: relative;
    width: 100%;
    height: 143px;
    left: 0px;
    overflow-x: scroll;
    overflow-y:hidden;
    white-space: nowrap;
}
    
.one{
    position: relative;
    height: 143px;
    width:143px;
    display: inline-flex;
    justify-content: center;
}
.photo{
    position:relative;
    display: block;
    height:100%;
}
.button{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    z-index:2;
}

